body {
  margin-top: 40px;
}

input {
  border: 2px solid #ebf7fd;
  border-radius: 10px;
  padding: 4px 10px;
}

h1 {
  color: #ec6e4c;
  font-size: 35px;
  font-weight: bold;
  margin: 0;
  padding-top: 13px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 0px;
  margin-bottom: 0;
  text-align: center;
}

footer {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  padding-top: 20px;
  text-align: center;
}

.container {
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  border: 2px solid #ebf7fd;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Slab", serif;
  padding: 25px 25px;
  max-width: 540px;
}

.search-button,
.current-location-button {
  background-color: #ebf7fd;
  border: 2px solid #ebf7fd;
  border-radius: 10px;
  font-size: 15px;
  padding: 4px 10px;
  transition: all 200ms ease-in-out;
}

.search-button:hover,
.current-location-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.current-temperature {
  color: #ec6e4c;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.date-hour {
  font-size: 11px;
  margin: 0;
}

.precipitation,
.description,
.wind {
  font-size: 13px;
  margin: 0;
}

.description::first-letter {
  text-transform: capitalize;
}

.main-icon {
  bottom: 5px;
  left: 40px;
  position: relative;
  width: 74px;
}

.card-next-days {
  background: transparent;
  border: 2px solid #ebf7fd;
  border-radius: 15px;
  margin-top: 10px;
  padding: 0px;
}

.card-body {
  padding: 6px;
}

.days-forecast {
  position: relative;
  top: 14px;
}

.max-min {
  font-size: 13px;
  line-height: 0px;
  margin-bottom: 0;
  text-align: center;
  position: relative;
  bottom: 12px;
}

.icons-next-days {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 3px;
  width: 58px;
}
